{% set branch = branches|first %}
<section>
    <h3>Branch</h3>
    <form>
        <div x-id="['input']">
            <label :for="$id('input')">Code:</label>
            <input type="text" name="code" :id="$id('input')" value="{{ branch.code }}" required />
        </div>
        <div x-id="['input']">
            <label :for="$id('input')">Name:</label>
            <input type="text" name="name" :id="$id('input')" value="{{ branch.name }}" required />
        </div>
        <div x-id="['input']">
            <label :for="$id('input')">Location: </label>
            <details class="dropdown" :id="$id('input')">
                <summary> Select address... </summary>
                {% if method == 'PUT' is defined %}
                <ul>
                    {% for location in locations %}
                    <li>
                        <label>
                            <input type="checkbox" name="locations[]" value="{{ location.id }}" {{ (location in
                                branch.locations)?'checked':''}} />
                            {{location.address }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul hx-get="/locations/location" hx-swap="innerHTML" hx-target="this" hx-trigger="load"></ul>
                {% endif %}
            </details>
        </div>
        <div class="container" style="text-align:center;">
            {% if method == 'PUT' is defined %}
            <input type="hidden" name="id" value="{{ branch.id }}" />
            <input type="submit" value="Update" hx-put="/branches/branch" hx-target="#response" hx-swap="innerHTML"
                hx-indicator="#indicator" style="width: fit-content;" />
            {% else %}
            <input type="submit" value="Submit" hx-post="/branches/branch" hx-target="#response" hx-swap="innerHTML"
                hx-indicator="#indicator" style="width: fit-content;" />
            {% endif %}
            <input type="reset" value="Reset" style="width: fit-content;">
        </div>
    </form>
</section>