{% set complaint = complaints|first %}
<section>
    <form action="/complaints/complaint" method="post">
        <section>
            {% block personal %}
            <div x-id="['input']">
                <label :for="$id('input')">Name : </label>
                <input type="text" name="name" :id="$id('input')" value="{{ complaint.user.name }}" required />
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Email: </label>
                <input type="text" name="email" :id="$id('input')" value="{{ complaint.user.email }}" required />
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Phone Number: </label>
                <input type="text" name="phone" :id="$id('input')" value="{{ complaint.user.phone }}" required />
            </div>
            {% endblock %}
        </section>
        <hr />
        <section>
            <h3 class="h3">Complaint Information</h3>
            <div x-id="['input']">
                <label :for="$id('input')">UiTM Branch: </label>
                <select name="branch" id="branch" :id="$id('input')" {% if complaint.id %}
                    hx-get="/complaints/locations/list" {% else %} hx-get="/branches/locations/list" {% endif %}
                    hx-trigger="load, change" hx-swap="innerHTML" hx-target="#list"
                    hx-include="find option[selected],[name='id']" hx-indicator="#indicator">
                    <option value="{{ form.branchId }}" disabled selected>Choose Branch</option>
                    {% for branch in branches %}
                    <option value={{ branch.id }} {{ branch in complaint.branches ? 'selected' : '' }}>{{ branch.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Location: </label>
                <details class="dropdown" :id="$id('input')">
                    <summary> Select address <img id="indicator" class="htmx-indicator"
                            src="assets/svg-loaders/three-dots.svg" style="margin-top:5px;width: 1rem;height:0.5rem;" />
                    </summary>
                    <ul id="list"></ul>
                </details>
            </div>

            <div x-id="['input']">
                <label :for="$id('input')">Category: </label>
                <select name="category" :id="$id('input')" required>
                    <option value="{{ form.categoryId }}" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value={{ category.id }} {{ category in complaint.categories ? 'selected' : '' }}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </section>
        <hr />
        <section>
            <div x-id="['input']">
                <label :for="$id('input')">Title : </label>
                <input type="text" name="title" :id="$id('input')" value="{{ complaint.title }}" required />
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Details : </label>
                <textarea name="desc" :id="$id('input')" cols="30" rows="10"
                    required>{{ complaint.description }}</textarea>
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Attachment : </label>
                <input type="file" name="image" :id="$id('input')" aria-describedby="file-helper" value="" />
                <small id="file-helpher">*Format PDF or Image(jpg, png, jpeg)only</small>
                <button class="button-remove">Remove</button>
            </div>
            <div class="container" style="text-align:center;">
                {% if complaint.id %}
                <input type="hidden" name="id" value="{{ complaint.id }}" />
                <input type="submit" value="Update" hx-put="/complaints/complaint" hx-target="#response"
                    hx-swap="innerHTML" hx-indicator="#indicator" style="width: fit-content;" />
                {% else %}
                <input type="submit" value="Submit" hx-post="/complaints/complaint" hx-target="#target"
                    hx-swap="innerHTML" hx-indicator="#indicator" style="width: fit-content;" />
                {% endif %}
                <input type="reset" value="Reset" style="width: fit-content;" />
            </div>
        </section>
    </form>
</section>