{% extends "@forms/base.html.twig" %}
{% block personal %}
<div x-show="{{ (complaint.user.employeeId is not null)? 'true' : 'staff' }}" x-transition x-id="['input']">
    <label :for="$id('input')">Staff ID : </label>
    <input type="text" name="employeeId" :id="$id('input')" value="{{ complaint.user.employeeId }}" />
</div>
<div x-show="{{ (complaint.user.studentId is not null)? 'true' : 'student' }}" x-transition x-id="['input']">
    <label :for="$id('input')">Student ID : </label>
    <input type="text" name="studentId" :id="$id('input')" value="{{ complaint.user.studentId }}" />
</div>
{{ parent() }}
{% endblock %}