<section>
    <form action="/complaints/complaint" method="post">
        <section>
            {% block personal %}
            <div x-id="['input']">
                <label :for="$id('input')">Name : </label>
                <input type="text" name="name" :id="$id('input')" value="{{ complaint.user.name }}" required />
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Email: </label>
                <input type="text" name="email" :id="$id('input')" value="{{ complaint.user.email }}" required />
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Phone Number: </label>
                <input type="text" name="phone" :id="$id('input')" value="{{ complaint.user.phone }}" required />
            </div>
            {% endblock %}
        </section>
        <hr />
        <section>
            <h3 class="h3">Complaint Information</h3>
            <div x-id="['input']">
                <label :for="$id('input')">UiTM Branch: </label>
                <select name="branch" id="branch" :id="$id('input')">
                    <option value="{{ form.branchId }}" disabled selected>Choose Branch</option>
                    {% for b in branches %}
                    <option {{ (complaint.branch.id==b.id)? ' selected ' : '' }} value={{ b.id }}>{{ b.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Location Details : </label>
                <select name="location" :id="$id('input')" required>
                    <option value="{{ form.locationId }}" disabled selected>Choose Location</option>
                    {% for l in locations %}
                    <option {{ (complaint.location.id==l.id)? ' selected ' : '' }} value={{ l.id }}>{{ l.address }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Category: </label>
                <select name="category" :id="$id('input')" required>
                    <option value="{{ form.categoryId }}" disabled selected>Choose Category</option>
                    {% for c in categories %}
                    <option {{ (complaint.category.id==c.id)? ' selected ' : '' }} value={{ c.id }}>{{ c.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </section>
        <hr />
        <section>
            <div x-id="['input']">
                <label :for="$id('input')">Title : </label>
                <input type="text" name="title" :id="$id('input')" value="{{ complaint.title }}" required />
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Details : </label>
                <textarea name="desc" :id="$id('input')" cols="30" rows="10"
                    required>{{ complaint.getDesc() }}</textarea>
            </div>
            <div x-id="['input']">
                <label :for="$id('input')">Attachment : </label>
                <input type="file" name="image" :id="$id('input')" aria-describedby="file-helper" value="" />
                <small id="file-helpher">*Format PDF or Image(jpg, png, jpeg)only</small>
                <button class="button-remove">Remove</button>
            </div>
            <div class="container" style="text-align:center;">

                {% if complaint.id %}
                <input type="hidden" name="id" value="{{ complaint.id }}" />
                <input type="submit" value="Update" hx-put="/complaints/complaint" hx-target="#response"
                    hx-swap="innerHTML" hx-indicator="#indicator" style="width: fit-content;" />
                {% else %}
                <input type="submit" value="Submit" style="width: fit-content;" />
                {% endif %}
                <input type="reset" value="Reset" style="width: fit-content;" />
            </div>
        </section>
    </form>
</section>