<div class="overflow-auto" style="min-height:40vh">
	<table class="striped">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Description</th>
				<th scope="col">Created At</th>
				<th scope="col">Updated At</th>
				<th scope="col">Completed At</th>
				<th scope="col">Status</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for c in complaints %}
			<tr>
				<td>{{ c.title }}</td>
				<td>{{ c.description }}</td>
				<td>{{ c.createdAt | date() }}</td>

				{% if c.updatedAt is null %}
				<td>
					<center>...</center>
				</td>
				{% else %}
				<td> {{ c.updatedAt | date() }} </td>
				{% endif %}
				{% if c.completedAt is null %}
				<td>
					<center>...</center>
				</td>
				{% else %}
				<td>{{ c.completedAt|date() }}</td>
				{% endif %}
				<td>{{ enum("App\\Enums\\ComplaintStatus").tryFrom(c.status.value).toString() }}</td>

				<td class="flex center">
					<details class="dropdown" style="margin-top: 1rem;">
						<summary role="button" class="outline secondary"
							style="text-align:center;min-width:max-content">
							<svg style="width: 1.35rem;height:1.35rem">
								<use xlink:href="assets/images/sprite.svg#icon-menu"></use>
							</svg>
							Action
						</summary>
						<ul>
							<li><a hx-get="/complaints/form?method=update&id={{ c.id }}" hx-target="#response"
									hx-swap="innerHTML" hx-indicator="#indicator">
									<svg style="width: 1.25rem;height:1.25rem;padding-bottom:5px;margin-left:9px;">
										<use xlink:href="assets/images/sprite.svg#icon-squared-plus"></use>
									</svg>Update
								</a></li>
							<li><a href="">
									<svg style="width: 1.25rem;height:1.25rem;padding-bottom:5px;">
										<use xlink:href="assets/images/sprite.svg#icon-squared-minus"></use>
									</svg>Delete
								</a></li>
						</ul>
					</details>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<style>
			th,
			td {
				text-align: center;
			}
		</style>
	</table>
</div>