<details class="dropdown" style="margin-top: 1rem;">
    <summary role="button" class="outline secondary" style="min-width:max-content">
        <svg style="width: 1.35rem;height:1.35rem">
            <use xlink:href="assets/images/sprite.svg#icon-menu"></use>
        </svg>
        Action
    </summary>
    <ul>
        <li><a href="/" hx-get="/{{ controller }}/edit/{{ id }}" hx-target="#response" hx-swap="innerHTML"
                hx-indicator="#indicator">
                <svg style="width: 1.25rem;height:1.25rem;padding-bottom:5px;margin-left:9px;">
                    <use xlink:href="assets/images/sprite.svg#icon-squared-plus"></use>
                </svg>
                Update
            </a></li>
        <li>
            <form action="">
                <input type="hidden" name="id" value="{{ id }}">
                <a href="/" hx-delete="/{{ controller }}/{{ method }}" hx-target="#response" hx-swap="innerHTML"
                    hx-indicator="#indicator">
                    <svg style="width: 1.25rem;height:1.25rem;padding-bottom:5px;">
                        <use xlink:href="assets/images/sprite.svg#icon-squared-minus"></use>
                    </svg>
                    Delete
                </a>
            </form>
        </li>
    </ul>
</details>
<style>
    th,
    td {
        text-align: center;
    }
</style>